.about-block {
    position: relative;
    margin-bottom: 140px;

    display: flex;
    justify-content: start;
    align-items: center;

    &::before {
        content: '';
        position: absolute;
        top: -434px;
        right: 0;

        width: 788px;
        height: 905px;

        background-image: url(../images/fon/about-block-fon.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 788px 905px;
        z-index: -1;
    }
}

.about-block__wrapper {
    height: 258px;
    width: 590px;
}

.about-block__slogan {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 44px;

    text-transform: uppercase;
}

.about-block__description {
    margin-bottom: 40px;
}