.banner-block {
    height: 550px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    background-image: url(../images/fon/banner-fon.png);
    background-repeat: no-repeat;
    background-size: 668px 494px;
    background-position: right;
}

.banner-block__left-section {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.banner-block__left-section>* {
    margin-bottom: 35px;
}

.banner-block__slogan {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 68px;

    text-transform: uppercase;
}

.banner-block__description {
    width: 420px;
}

.banner-block__banner-products {
    display: flex;
    margin-top: auto;
}

.banner-products__list {
    width: 450px;
    @include ul-reset();

    display: grid;
    grid-template-columns: 145px 145px 145px;
    grid-template-rows: 473px;
}

.banner-products__list-item {
    position: relative;
    display: flex;
    align-items: flex-end;
}

.banner-products__list-item:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.banner-products__list-item:last-child {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.banner-products__list-item figure {
    margin: 0;
    padding: 0;
}

.banner-products__list-item figcaption {
    width: 208px;
    height: 79px;

    display: none;
    position: absolute;
    z-index: 100;

    &::before {
        content: '';
        position: absolute;
        top: -18px;
        left: -48px;
        width: 36px;
        height: 36px;

        background-image: url(../images/fon/banner-marker-icon.png);
        background-repeat: no-repeat;
        background-size: 36px 36px;
        background-position: center;
    }
}

.banner-img--z-index {
    position: relative;
    bottom: -23px;
    z-index: 1;
}

.banner-img:hover + figcaption {
    display: block;
}

.small-card {
    width: 208px;
    height: 79px;
    padding: 8px;

    display: flex;
    justify-content: space-between;

    background-color: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.small-card-description__wrapper {
    margin-left: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.small-card__title {
    padding: 0;
    margin: 0;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}

.first-figcaption {
    bottom: 50px;
    left: 158px;
}

.two-figcaption {
    top: 110px;
    left: 103px;
}