.bestseller-block {
    margin-bottom: 100px;
}

.bestseller-block__title {
    padding: 0;
    margin: 0;

    margin-bottom: 15px;

    display: flex;
    justify-content: start;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 44px;

    text-transform: uppercase;
}

.bestseller-block__description {
    padding: 0;
    margin: 0;
    margin-bottom: 35px;
    width: 416px;
}

.card--popullar {
    width: 275px;
    height: 411px;
}

.card--popullar--akcent {
    width: 570px;
    padding: 40px;

    flex-direction: row-reverse;
    align-items: center;

    background: #EDFDFA;

    & .card__title {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 44px;
        text-transform: uppercase;
    }
    & .card__title-sign {
        margin-top: 20px;

        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        text-transform: none;
    }
    & .card__price {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 44px;
        text-transform: uppercase;
    }
}