.breadcrumbs-nav__list {
    @include ul-reset();

    display: flex;
    flex-wrap: wrap;
}

.breadcrumbs-nav__list li:first-child .breadcrumbs-nav__link {
    padding-left: 0;
    &::before {
        display: none;
    }
}