.description-block__img-list {
    @include ul-reset();
    margin-bottom: 80px;

    display: grid;
    grid-template-columns: 439px 209px;
    grid-template-rows: 209px 209px;
    grid-template-areas: "head another" "head head";
    grid-gap: 20px;
}

.description-block__img-list li:first-child {
    position: relative;
}

.border-wrapper {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 0%;
        height: calc(100% + 80px);

        border: 1px solid rgba(51, 51, 51, 0.1);;
        transform: translate(22px, -80px);
    }
}

.description-block__specification-product::before {
     content: "Описание товара";
}

.description-block__application::before {
    content: "Способы применения";
}

.description-block--before-desc {
    position: relative;

    padding-left: 42px;

    &::before {
        position: absolute;

        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: auto;
        height: 22px;

        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        opacity: 0.5;

        transform: rotate(-90deg) translate(-100%, -42px);
        transform-origin: left top 0;
        
    }
}

.description-block__specification-product {
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.specification-product__slogan {
    width: 230px;
    padding-bottom: 8px;
    display: flex;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 44px;
    text-transform: uppercase;

    border-bottom: 5px solid #333333
}

.specification-product__specification {
    padding: 0;
    margin: 0;
    width: 377px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
}

.application__list {
    @include ul-reset();
    counter-reset: card-counter;
}

.application__list li {
    position: relative;

    margin-bottom: 30px;

    counter-increment: card-counter;

    &::before {
        content: counter(card-counter);
        position: absolute;
        width: 28px;
        height: 40px;

        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 40px;
        text-transform: uppercase;
        color: $akcent;
    }
}

.application__use-title {
    position: relative;
    margin: 0;
    padding: 0;
    margin-left: 30px;

    display: flex;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;

    text-transform: uppercase;

    &::after {
        content: "";
        position: absolute;
        bottom: -12px;
        width: 377px;
        height: 4px;

        background-color: $akcent;
    }
}