.production-list-block__title {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 44px;
    text-transform: uppercase;
}

.tags-wrapper {
    display: flex;
}

.production-list-block__tags {
    width: 100%;
    height: 30px;
    margin-bottom: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.production-list-block__tags-list {
    @include ul-reset();
    display: flex;
    flex-wrap: wrap;
}

.tags-list__item {
    width: 150px;
    height: 24px;
    padding-left: 8px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #333333;

    background-color: #F0EDEB;

    &:hover {
        background-color: #F8DBCD;
        & .tags-list__close-snap {
            background-image: url(../images/svg/close-snap--hover.svg);
        }
    }
}

.tags-list__close-snap {
    width: 18px;
    height: 18px;
    margin-left: 4px;

    background-image: url(../images/svg/close-snap.svg);

}

.production-list-block__add-snap {
    width: 34px;
    height: 24px;
    margin-left: 8px;

    background-color: #F0EDEB;
    background-image: url(../images/svg/add-snap.svg);

    &:hover {
        background-color: #F8DBCD;
        background-image: url(../images/svg/add-snap--hover.svg);
    }
}

.production-list-block__select-form {
    width: 230px;
    height: 40px;
}

.production-list-block__catalog-list {
  @include ul-reset();
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.production-list-block-card {
  width: 185px;
  height: 285px;
  margin-left: 0px;

  & .card-description__wrapper {
    padding: 8px 16px;
  }
  & .card__title {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
  }
  & .card__price {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
  }
}

.card--akcent-discount {
    background: #EDFDFA;
}

.card--akcent-discount__discount {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 44px;

    text-transform: uppercase;
    color: $akcent;
}

.card--akcent-discount__btn {
    width: 151px;
    height: 36px;
    padding: 0px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}