.pagination-block {
    grid-area: pagination;
}

.pagination-block__pagination-list {
    @include ul-reset();
    width: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination__link {
    padding: 5px;
    min-width: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: black;

    border: 2px solid $akcent;

    &:hover {
        background-color: $akcent;
        color: #ffffff;
    }

}

.pagination__link--active {
    background-color: $akcent;
    color: #ffffff;
}

.pagination__btn {
    padding: 10px 20px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

    border-radius: 0px;

    &:disabled {
        background: #F0EDEB;
        cursor: default;
    }
}