.filter-block__title {
    margin: 0;
    margin-bottom: 25px;
    margin-top: 9px;
    padding: 0;

    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;

    text-transform: uppercase;
}

.filter-form__submit-btn {
    margin-top: 82px;
    margin-bottom: 20px;
}

.filter-form__price {
    width: 280px;
}

.filter-form__price-top-wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper-price-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper-price-input label {
    padding: 0;
}

.filter-form__input {
    width: 50px;

    border: none;
    background: transparent;
    text-align: center;
}

.price-range__scale {
    position: relative;
    margin-bottom: 20px;
    margin-top: 22px;
    width: 280px;
    height: 4px;

    border-radius: 5px;

    background-color: #ffffff;
}

.price-range__toggle {
    width: 14px;
    height: 24px;

    border-radius: 20px;

    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.price-range__toggle--min {
    transform: translate(-50%,-50%);
}

.price-range__toggle--max {
    transform: translate(50%,-50%);
}

.price-range__bar {
    position: absolute;
    left: 50px;
    right: 50px;

    height: 4px;
    max-width: 100%;

    display: flex;
    justify-content: space-between;

    border-radius: 5px;

    background-color: $akcent;

}