.clients-block {
    margin-bottom: 140px;
}

.clients-block__title {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 44px;
    text-transform: uppercase;
}

.clients-block__description {
    width: 557px;
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
}

.clients-block__clients-list {
    @include ul-reset();

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.client {
    width: 275px;
    height: 316px;
    padding: 0;
    margin: 0;
}

.client__email {
    margin-top: 10px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-decoration-line: underline;
    color: #333333;
    opacity: 0.5;
}