.page-footer {
    overflow: hidden;
}

.page-footer-wrapper {
    position: relative;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 60px;

    display: flex;
    flex-direction: column;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        min-height: 100%;

        display: block;

        background-color: $footerFon;
        border-top-left-radius: 86px;
        z-index: -1;
    }
}

.page-footer__up-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer-row__title {
    margin: 0;
    padding: 0;
    margin-bottom: 12px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
}

.instagram-list {
    width: 232px;
    height: 154px;

    @include ul-reset();
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.info-block__info-list {
    @include ul-reset();
    width: 342px;
    height: 102px;

    display: flex;
    flex-wrap: wrap;
}

.info-list__link {
    width: 154px;
    display: flex;
}

.contact-block__inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-block__inner-wrapper>* {
    margin-bottom: 18px;
}

.contact-block__telephone {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
}

.contact-block__email-link {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    color: $akcent;

    text-decoration-line: underline;
}

.page-footer__down-row {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-footer__down-row>* {
    margin-left: 40px;
}

.page-footer__copyright {
    margin: 0;
    margin-right: auto;
}