.z-index {
    z-index: 100;
}

.page-header {
    position: relative;
}

.page-header--fon {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 1154px;

        background-color: $bannerFon;
        z-index: -100;
    }
}

.header-block {
    height: 94px;
    position: relative;
    margin-bottom: 40px;

    display: flex;
    align-items: center;
}

.header-block--index-page {
    margin-bottom: 100px;
}

.header-left-block__wrapper {
    position: absolute;
    top: 0;
    left: 668px;
    
    display: flex;
    justify-content: flex-end;
}

.header-left-block {
    width: 300%;
    height: 94px;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    box-shadow: 0px 12px 18px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 45px 0px;

    background-color: $akcent;

    z-index: 999;
}

.header-left-block__inner-wrapper {
    width: 668px;
    display: flex;
    align-items: center;
}

.header-left-block__inner-wrapper>* {
    margin-right: 40px;
}

.header-left-block__catalog-snap {
    position: relative;
    padding-left: 36px;

    font-weight: bold;
    color: #ffffff;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 3px;
        background-color: #ffffff;
        box-shadow: 0 8px #ffffff, 0 16px #ffffff;
    }
}

.header-left-block__search-snap {
    width: 46px;
    height: 46px;
    margin-left: auto;

    border: 2px solid #FFFFFF;

    background-image: url(../images/fon/search-icon.png);
}

.header-right-block {
    position: relative;
    width: 492px;
    margin-left: auto;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-right-block__site-nav {
    //  инлайном стилей на всех страницах, кроме главной
    // position: fixed;
    @include display-flex();
}

.site-nav__list {
    width: 152px;
    justify-content: space-between;
}

.site-nav__item {
	@include display-flex();
	width: 32px;
    height: 32px;
    
    border: none;
	background-color: transparent;
	cursor: pointer;
	
	background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
}

.site-nav__item--favorite {
    background-image: url(../images/fon/favorite-icon.png);
}

.site-nav__item--login {
    background-image: url(../images/fon/login-icon.png);
}

.site-nav__item--basket {
    background-image: url(../images/fon/basket-icon.png);
}

.site-nav__btn {
    width: 219px;
    height: 46px;
    margin-left: 40px;
}

.header-left-block__search-form {
    width: 445px;
    height: 46px;

    @include display-flex();    
}

.search-form__inner-wrapper {
    width: 359px;
    height: 34px;
    @include display-flex();
    justify-content: flex-start;

    border-bottom: 2px solid #ffffff;

}

.search-form__close-snap {
    width: 28px;
    height: 28px;

    background-image: url(../images/fon/close-search-icon.png);
}

.search-form__input {
    width: 90%;
    height: 22px;
    padding-left: 10px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;

    background-color: transparent;
    border: none;
}

.search-form__submit-snap {
    width: 46px;
    height: 46px;
    margin-left: auto;

    border: 2px solid #FFFFFF;    
    background-image: url(../images/fon/submit-search-icon.png);
}

.header-left-block__progress-bar {
    @include display-flex();
}

.header-left-block__progress-bar .bar {
    position: relative;
    width: 205px;
    height: 8px;

    background-color: #e4afaf;
    border-radius: 4px;
}

.header-left-block__progress-bar .scale {
    position: absolute;
    width: 20%;
    height: 8px;
    top: 0;
    left: 0;

    background-color: #ffffff;
    border-radius: 4px;
}