@import './normalize';
@import './variables';
@import './mixin';
@import '../fonts/lato/lato.scss';
@import './scafolding';

@import './header';
@import './footer';

// блоки на index.html
@import './banner-block.scss';
@import './catalog-block.scss';
@import './about-block.scss';
@import './bestseller-block.scss';
@import './selection-block.scss';
@import './article-block.scss';
@import './comment-block.scss';
@import './clients-block.scss';

// блоки для catalog.html
@import './catalog--grid.scss';
@import './catalog--production-list-block.scss';
@import './catalog--pagination.scss';
@import './catalog--filter-block.scss';
@import './breadcrumbs-nav.scss';

// блоки для card.html
@import './card--grid.scss';
@import './card--aside-prder-block.scss';
@import './card--description-block.scss';
@import './card--similar-block.scss';

// блоки для basket.html
@import './basket--grid.scss';
@import './basket--list-block.scss';
@import './basket--total-info-block.scss';

// блоки для order.html
@import './order--grid.scss';
@import './order--checkout-block.scss';
@import './order--order-info-block.scss';

// блоки для login-profile.html
@import './login-profile--grid.scss';
@import './login-profile--profile-main-block.scss';
@import './login-profile--profile-block-aside.scss';

// попапы
@import './menu-popup';