.profile-block-main {
    margin-bottom: 80px;
}

.profile-block-main__title {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;

    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
}

.profile-block-main__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 46px;

    grid-template-areas: "content content" ". button";
}

.profile-block-main__form-submit {
    grid-area: button;
    justify-self: end;
}

.profile-block-main__label {

}