.page-main--login-profile {
    display: grid;

    grid-column-gap: 40px;
    grid-row-gap: 22px;
    grid-template-columns: 320px auto;
    grid-template-rows: 20px 536px auto;
    grid-template-areas: "breadcrumbs breadcrumbs" "aside content" ". content";
}

.page-main--login-profile .breadcrumbs-nav {
    grid-area: breadcrumbs;
}

.profile-block-main {
    grid-area: content;
}

.profile-block-aside {
    grid-area: aside;
}