.checkout-block__inner-wrapper {
    width: 412px;

    display: flex;
    flex-direction: column;
}

.checkout-block__title {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 44px;
    text-transform: uppercase;
}

.checkout-block__form-list {
    @include ul-reset();
    counter-reset: form-counter;

    &>li {
        position: relative;
        padding-left: 32px;
        margin-bottom: 12px;

        counter-increment: form-counter;
        border: 1px solid transparent;

        &:not(:last-child)::after {
            content: "";
            position: absolute;
            top: 36px;
            left: 12px;
            height: calc(100% - 36px);
            width: 1px;
            border: 1px solid rgba(51, 51, 51, 0.1);
        }

        &::before {
            content: counter(form-counter);
            position: absolute;
            top: 0px;
            left: 0px;

            width: 24px;
            height: 24px;

            display: flex;
            justify-content: center;
            align-items: center;

            font-family: Lato;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 27px;
            color: $akcent;
            text-transform: uppercase;

            border: 2px solid $akcent;
            border-radius: 15px;

            background-color: #ffffff;
        }
    }
}

.checkout-block__form-list .checkout-block__validate::before {
    content: "";
    background-image: url(../images/fon/validate-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.form-list__subtitle {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
}

.checkout-block__validate .form-list__subtitle {
    color: rgba(51, 51, 51, 0.3);
}

.checkout-block__fieldset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkout-block__form .checkout-block__legend {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

.checkout-block__label-wrapper {
    width: 122px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.addres-hint {
    height: 22px;
    margin-top: 9px;

    display: flex;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: $akcent;
    opacity: 0.5;
}

.checkout-block__select-label,
.checkout-block__select-title {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: rgba(51, 51, 51, 1);
}

.form-list__payment-list {
    @include ul-reset();
    display: flex;
    justify-content: space-between;
}

.payment {
    width: 66px;
    height: 46px;

    border: 1px solid #C2C2C2;
    background-color: #ffffff;

    background-position: center;
    background-repeat: no-repeat;

    cursor: pointer;

    &:hover {
        border: 1px solid $akcent;
    }
}

.payment-cash {
    background-image: url(../images/svg/cash.svg);
}

.payment-pay-pal {
    background-image: url(../images/svg/PayPal.svg);
}

.payment-maestro {
    background-image: url(../images/svg/Maestro.svg);
}

.payment-visa {
    background-image: url(../images/svg/Visa.svg);
}

.payment-master-card {
    background-image: url(../images/svg/MasterCard.svg);
}