.page-main--order {
    margin-bottom: 80px;
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 22px;
    grid-template-columns: 660px auto;
    grid-template-rows: 20px auto;
    grid-template-areas: "breadcrumbs breadcrumbs" "content aside";
}

.order-info-block {
    position: relative;
}