a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

*, *::before, *::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-family: 'Lato Regular';
	font-size: 18px;
	line-height: 26px;
	color: #333333;
}

.content-box-component {
	box-sizing: content-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border:0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

// Кнопки с фоном и без, маленькие кнопки (snap)

.btn {
	padding: 10px 30px;
    display: flex;
    justify-content: center;
	align-items: center;
	
	color: $akcent;

	background-color: transparent;
	border: 2px solid $akcent;
	border-radius: 23px;
	cursor: pointer;
	&:hover {
		background-color: $hoverBtn;
		border: 2px solid #ED9E78;
	}
	&:active {
		background-color: $akcent;
		color: #ffffff;
  }
  &:disabled {
    opacity: 0.5;
  }
}

.btn-fon {
	padding: 10px 30px;
    display: flex;
    justify-content: center;
	align-items: center;
	
	color: #ffffff;

	background-color: $akcent;
	border: none;
	border-radius: 23px;
	cursor: pointer;
	&:hover {
		background-color: $hoverBtnFon;
  }
  &:disabled {
    opacity: 0.5;
  }
}

.snap {
	display: flex;
	justify-content: center;
	align-items: center;

	border: none;
	background-color: transparent;
	cursor: pointer;
	
	background-repeat: no-repeat;
    background-position: center;
}

.nav-list {
	@include ul-reset();
	@include display-flex();
}

.product-list {
	@include ul-reset();
    margin-left: -20px;

    display: flex;
    flex-wrap: wrap;
}

// Карточки товаров

.card {
	margin-left: 20px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
}

.card-description__wrapper {
    width: 100%;
    padding: 24px;
    padding-top: 14px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__title {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
}

.card__price {
    margin: 0;
    padding: 0;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

.stars-rating__svg {
	width: 120px;
	height: 24px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card--akcent {
    width: 390px;
    height: 285px;
    margin-left: 0px;
    padding: 30px;

    flex-direction: row-reverse;
    align-items: center;

    background: #EDFDFA;

    & .card-description__wrapper {
      width: 173px;
      min-height: 114px;
      margin-right: 11px;
      padding: 0px;
      justify-content: space-between;
    }

    & .card__title {
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        text-transform: uppercase;
    }
    & .card__title-sign {
        margin-top: 20px;

        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        text-transform: none;
    }
    & .card__price {
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
    }
}

// SELECT!!!
.__select {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 0 auto;
  
    &[data-state="active"] {
      .__select__title {
        border-bottom: solid 2px $akcent;
        &::before {
          background-image: url(../images/svg/select-snap--active.svg);
        }
      }
      
      .__select__content {
        opacity: 1;
        box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
      }
      
      .__select__label + .__select__input + .__select__label {
        max-height: 40px;
        border-top-width: 1px;
      }
    }
  }
  .__select__title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 8px 16px;
  
    border-bottom: solid 2px rgba(51, 51, 51, 0.2);
    
    cursor: pointer;
  
    &::before {
      content: "";
  
      position: absolute;
      top: 50%;
      right: 0px;
  
      display: block;
      width: 24px;
      height: 24px;
  
      transition: all 0.3s ease-out;
      transform: translateY(-50%);
      background-image: url(../images/svg/select-snap.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  
    &:hover {  
      border-bottom: solid 2px $akcent;
      &::before {
        background-image: url(../images/svg/select-snap--hover.svg);
      }
    }
  }
  
  .__select__content {
    position: absolute;
    top: 40px;
    left: 3px;
  
    display: flex;
    flex-direction: column;
    width: calc(100% - 6px);
  
    background-color: #ffffff;
    
    transition: all 0.3s ease-out;
  
    opacity: 0;
    z-index: 8;
  }
  .__select__input {
    display: none;
  
    &:checked + label {
    //   background-color: #dedede;
    }
    &:disabled + label {
      opacity: 0.6;
      pointer-events: none;
    }
  }
  .__select__label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    max-height: 0;
    padding: 0 16px;
    
    transition: all 0.2s ease-out;
  
    cursor: pointer;
    
    overflow: hidden;
  
    & + input + & {
      border-top: 0 solid #ffffff;
    }
  
    &:hover {
      background-color: rgba(248, 219, 205, 0.2) !important;
  
      color: #000000;
    }
  }

  // Ссылки в бреадкрумбс

.link {
  position: relative;
  display: flex;
  margin-left: 0px;
  padding-left: 14px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: rgba(51, 51, 51, 0.3);

  &::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0px;

    width: 14px;
    height: 14px;

    background-image: url(../images/fon/breadcrumbs-fon.svg);
    background-repeat: no-repeat;
    background-position: center;

  }

  &--active {
    color: $akcent;
    &::before {
      background-image: url(../images/fon/breadcrumbs-fon--active.svg);
    }
  }
}

// Фильтры

.filter-form__fieldset {
  padding: 0;
  margin-bottom: 12px;

  display: flex;
  flex-direction: column;

  border: none;
}

.filter-form__legend {
  margin-bottom: 12px;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.filter-form__label {
  position: relative;
  padding-left: 30px;

  margin-bottom: 12px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;

  &:hover {
      color: $akcent;
      & input:not(:checked) + .checkbox {
        background-image: url(../images/fon/checkbox--hover.svg);
      }
      & input:not(:checked) + .radio {
        background-image: url(../images/fon/radio--hover.svg);
      }
  }
}

.filter-form .checkbox {
  position: absolute;
  top: 0;
  left: 2px;

  width: 18px;
  height: 18px;

  display: flex;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/fon/checkbox.svg);
}

input:checked + .checkbox {
  background-image: url(../images/fon/checkbox--checked.svg);
}

input:checked + .radio {
  background-image: url(../images/fon/radio--checked.svg);
}

.filter-form .radio {
  position: absolute;
  top: -1px;
  left: 4px;

  width: 20px;
  height: 20px;

  display: flex;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/fon/radio.svg);
}

.filter-form__text-label {
  margin-bottom: 24px;

  display: flex;
  flex-direction: column;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: rgba(51, 51, 51, 0.5);
}

.filter-form__text-input {
  width: 100%;
  padding: 12px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: rgba(51, 51, 51, 1);

  border: none;
  border-bottom: 2px solid rgba(51, 51, 51, 0.2);
  box-shadow: none;

  &:focus {
    border-bottom: 2px solid $akcent;
  }

  &:invalid {
    border-bottom: 2px solid #D86479;

    &~.filter-form__invalid-input-hint {
      display: block;
      color: #F29AAA;
    }

    &:focus {
      border-bottom: 2px solid #F29AAA;
    }
  }

  &:valid {
    border-bottom: 2px solid #559846;

    &~.filter-form__valid-input-hint {
      display: block;
      color: #52B271;
    }
    &:focus {
      border-bottom: 2px solid #5CC87E;
    }
  }
}

.hint {
  display: none;

  font-family: Lato;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

// Контейнер-центровщик

.container {
	width: 1160px;
    margin: 0 auto;
	padding: 0;
}

.container--comment-block {
	width: 1256px;
	margin: 0 auto;
	padding: 0;
}

// блок для выбора количества товара, добавления в избранное и в корзину

.order-card__controls-row {
  min-width: 410px;
  height: 46px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-card__btns-column {
  width: 143px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-card__snap {
  width: 46px;
  height: 46px;

  background-position: center;
  background-repeat: no-repeat;
}

.order-card__down-snap {
  background-image: url(../images/fon/low-snap.svg);
  &:active {
    background-image: url(../images/fon/low-snap--active.svg);
  }
}

.order-card__up-snap {
  background-image: url(../images/fon/more-snap.svg);
  &:active {
    background-image: url(../images/fon/more-snap--active.svg);
  }
}

.order-card__amount-product {
  padding: 0;
  margin: 0;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.order-card__order-column {
  width: 200px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-card__favorite-snap {
  background-image: url(../images/fon/favorite-snap.svg);
  &--on {
    background-image: url(../images/fon/favorite-snap--on.svg);
  }
}

// Info-marker

.info-marker {
  position: absolute;
  top: 0;
  left: 0;

  width: 40px;
  height: 40px;

  background-color: #EC966D;
  background-image: url(../images/fon/info-marker.svg);
  background-repeat: no-repeat;
  background-position: center;

  & .info-marker__text {
    display: none;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.8;
  }

  &:hover {
    width: 220px;
    height: 104px;
    display: flex;
    align-items: center;

    background-position: 5% 50%;

    & .info-marker__text {
      width: 170px;
      height: 88px;
      padding-left: 8px;
      margin-left: 40px;

      display: flex;
      justify-content: flex-start;
      align-items: center;

      border-left: 1px solid rgba(255, 255, 255, 0.3);
    }
  }
}

// Sticky

.sticky-block {
  position: sticky;
  top: 175px;
  padding: 0px 0px 50px 40px;

  &::before {
      content: "";
      position: absolute;
      top: -180px;
      left: 0px;   

      width: 100%;
      height: calc(100% + 175px);
      background: #FFF6F3;
      border-radius: 0px 0px 0px 85px;
      z-index: -1;
  }
}

.inner-wrapper__sticky {
  width: 410px;
  display: flex;
  flex-direction: column;
}

// текстовые инпуты на странице order.html



