.selection-block {
    position: relative;

    &::before {
        content: "";

        width: 100%;
        height: 762px;

        position: absolute;
        top: -50%;
        left: 0;

        background-color: $footerFon;

        z-index: -1;
    }
}

.selection-block__wrapper {
    position: relative;
    height: 670px;
    margin-bottom: 140px;
}

.selection-block__titles {
    width: 550px;
    height: 135px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.selection-block__slogan {
    margin-bottom: 15px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 44px;
    text-transform: uppercase;
}

.selection-block__assortment {
    position: absolute;
    left: 0;
    bottom: 0;

    padding: 40px;
    width: 668px;
    height: 454px;

    display: flex;
    justify-items: start;
    align-items: flex-end;

    background-image: url(../images/fon/selection-assortment-fon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 668px 454px;
}

.selection-block__question {
    position: absolute;
    top: 0;
    right: 0;

    padding: 40px;
    width: 570px;
    height: 540px;

    display: flex;
    justify-items: end;
    align-items: flex-end;

    background-image: url(../images/fon/selection-question-fon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 570px 540px;
}