.tag-popup {
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.23);
    z-index: 1000;
}

.tag-popup__wrapper {
    position: relative;
    top: 200px;
    left: 50%;

    width: 472px;
    height: 410px;
    padding: 40px;

    display: flex;
    flex-direction: column;

    transform: translateX(-50%);
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
}

.tag-close__snap {
    position: absolute;
    top: 17px;
    right: 17px;

    width: 36px;
    height: 36px;

    background-image: url(../images/svg/close-snap.svg);
    background-size: contain;
    opacity: 0.3;
    &:hover {
        opacity: 1;
    }
}

.tag-popup__title {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 44px;

    text-transform: uppercase ;
}

.tag-form {
    position: relative;
    width: 100%;
    margin-bottom: 24px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & label {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        opacity: 0.5;
    }
}

.tag-search {
    padding-right: 22px;
}

.tag-search__submit-snap {
    position: absolute;
    bottom: 13px;
    right: 9px;

    width: 24px;
    height: 24px;

    background-image: url(../images/svg/search-icon-tag.svg);
    background-size: contain;
    opacity: 0.3;

    &:hover {
        opacity: 0.8;
    }
}

.tag-popup__list {
    @include ul-reset();
    margin-bottom: 40px;

    width: 100%;

    display: flex;
    flex-wrap: wrap;
}

.tag-popup__item {
    margin-right: 8px;
    margin-bottom: 11px;
}

.tag-search__snap {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;

    border: 1px solid transparent;

    background-color: #F0EDEB;

    &:hover {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        background: #F8DBCD;
    }

    &--active {
        color: $akcent;
        border: 1px solid #EC966D;
        background-color: #F8DBCD;
    }
}